@import './utils/variables.scss';
@import './utils/mixins';

.home-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0; //prevents scrolling
    background-color: aqua;
    height: 100vh;
    width: 100vw; 
    overflow: hidden; 
    @include mobile-only {
        flex-direction: column; // Assuming that's what the mobile-column mixin does
        margin: 5%; // Be careful this does not make the total height exceed 100vh
        overflow: auto; // If you want to allow scrolling on mobile
    }
}
.home-feed__top {
    margin: 1% 2% 1% 2%;
    background-color: azure;
    height: 20vh;
}
.home-feed__bottom {
    margin: 1% 2% 1% 2%;
    background-color: azure;
    height: 80vh;
}