@import './utils/variables.scss';
@import './utils/mixins';

.login-card__parent {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    @include center-item;
    
}

.login-card {
    padding: 5px 10px 5px 10px;

}

