@import './utils/variables.scss';
@import './utils/mixins';

body {
    margin: 0;
    padding: 0;
    background-color: $tertiary-color; 
}

.login-navbar {
  position: absolute;
  z-index: 1;
  padding: 30px 40px;
}
.navbar-logo__login {
  width: 250px; 
  @include mobile-only {
    width: 60%;
    margin-left: -10px;
  }
}

.login-backdrop__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  opacity: 50%;
  z-index: -1;
}

.login-backdrop__image {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.login-card {
  background-color: white;
  height: 500px;
  width: 500px;
  border-radius: 2.5%;
  @include mobile-only {
    width: 300px;
    height: 350px;
  }
}




