@import '../../utils/variables.scss';
@import '../../utils/mixins';

//all posts
.post-feed__post {
    background-color: white;
    height: 37.5vh;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
    @include tablet-only {
        height: 37vh;
    }
    @include mobile-only {
        height: 30vh;
    }
}
.post-feed__buffer-top {
    height: 2vh;
    @include mobile-only {
        height: 3.5vh;
    }
}
.post-parent {
    padding: 5px 10px;
    width: 92.50%;
}
.post-topline {
    height: 10-30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.post-img {
    padding-top: 10px;
    width: 100%;
    height: 160px;
}
.post__bottomline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.post-topline__avatar-name {
    display: flex;
    flex-direction: row;
}

.post-content {
    text-overflow:ellipsis;
    overflow:hidden;
    // Addition lines for 2 line or multiline ellipsis
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}
//global
.link-global, .link-global:visited {
    text-decoration: none;
    color: inherit; 
}
//one post page
.post-feed__post-one-post {
    background-color: white;
    height: auto;
    border-radius: 3px;
    width: 80%;
    margin: 22.5% 0% 50% 10% ;
    overflow-x: scroll; 
    @include tablet-only {
        height: 37vh;
    }
    @include mobile-only {
        height: 30vh;
    }
}
.post-parent__one-post {
    margin: 2.5% 2.5% 2.5% 10%;
}

.post-parent__one-post {
    margin-left: 5%;
    margin-right: 5%;
}
.post-content__one-post {
  height: 100%;
}





