@import '../../utils/variables.scss';
@import '../../utils/mixins';

html, body {
    height: 100%;
    width: 100%;
    @include tablet-only {
        height: 70%;
    }
}
//all posts
.post-feed__post {
    background-color: white;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
    @include tablet-only {
        height: auto;
    }
    @include mobile-only {
        height: auto;
    }
}
.post-feed__buffer-top {
    height: 2vh;
    @include mobile-only {
        height: 3.5vh;
    }
}
.post-parent {
    padding: 5px 10px;
    width: 92.50%;
    margin-top: -2.5%;
}
.post-topline {
    height: 10-30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.post-img {
    padding-top: 10px;
    width: 90%;
    height: 300px;
    object-fit: cover;
}
.post__bottomline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.post-topline__avatar-name {
    display: flex;
    flex-direction: row;
}

.post-content {
    text-overflow:ellipsis;
    overflow:hidden;
    width: 90%;
    // Addition lines for 2 line or multiline ellipsis
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.post-title {
    width: 90%;
}
//global
.link-global, .link-global:visited {
    text-decoration: none;
    color: inherit; 
}
//one post page
.post-feed__post-one-post {
    background-color: white;
    height: auto;
    border-radius: 3px;
    width: 80%;
    margin: 22.5% 0% 50% 10% ;
    overflow-x: scroll; 
    @include tablet-only {
        height: 70%;
        width: 80%;
        overflow-x: scroll; 
    }
    @include mobile-only {
        margin-top: 30%;
        height: 60%;
        overflow-x: scroll; 
    }
}
.post-parent__one-post {
    margin: 0% 5% 5% 10%;
}

.post-parent__one-post {
    margin-left: 5%;
    margin-right: 5%;
}
.post-content__one-post {
  height: 100%;
}





