@import '../../utils/variables.scss';
@import '../../utils/mixins';

.navbar-logo__home {
    width: 17.5%;
    @include tablet-only {
        width: 8%;
    }
    @include mobile-only {
        width: 17%;
    }
}

//conditionally render logo depending on screen size? 