@import '../../../utils/variables.scss';
@import '../../../utils/mixins';

.search-parent {
    background-color: $tertiary-color;
    border-radius: $border-radius;
    width: 100%;
    height: 200px;
    // To prevent the padding from affecting the overall width and height of the element, 
    // you can use the box-sizing: border-box; property. 
    //This makes the browser include the padding and border in the element's total width and height:
    box-sizing: border-box; // Add this line
    padding: 10px; // Example padding
}