@import '../../utils/variables.scss';
@import '../../utils/mixins';

.addBackToTop {
    margin-top: 2vh; 
    display: flex;
    justify-content: space-between;
    @include mobile-only {
        margin-bottom: 4vh;
        margin: auto;
        margin-bottom: 4vh;
    }
}